<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    {{profile-avatar}}
    <!-- Sidebar user panel -->
    {{form-search}}
    {{sidebar-menu}}
  </section>
  <!-- /.sidebar -->
</aside>
