<ol class="breadcrumb">
  {{#each breadCrumb as |link| }}
    {{#if link.isActive }}
      <li class="active">{{link.title}}</li>
    {{else}}
      <li><a href={{link.url}}>{{link.title}}</a></li>
    {{/if}}
  {{/each}}
</ol>